USE [DemoEHR]
GO
/****** Object:  Table [dbo].[Allergies]    Script Date: 12-09-2020 08:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergies](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Allergy] [varchar](50) NULL,
	[Code] [numeric](10, 0) NULL,
	[Allergy_Type] [varchar](100) NULL,
	[Reaction] [varchar](50) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CareTeam]    Script Date: 12-09-2020 08:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareTeam](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Name] [varchar](22) NULL,
	[Address] [varchar](100) NULL,
	[Phone] [numeric](10, 0) NULL,
	[Role] [varchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiefComplaintandReasonForVisit]    Script Date: 12-09-2020 08:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiefComplaintandReasonForVisit](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Chief_Complaint] [varchar](100) NULL,
	[Date_of_Onset] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datetimelogic]    Script Date: 12-09-2020 08:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datetimelogic](
	[messageDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encounters]    Script Date: 12-09-2020 08:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encounters](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Encounter_Diagnosis] [varchar](100) NULL,
	[Diagnosis_Code] [numeric](10, 0) NULL,
	[Start_Date] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ethnicity_Code]    Script Date: 12-09-2020 08:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ethnicity_Code](
	[ConceptCode] [nvarchar](255) NULL,
	[ConceptName] [nvarchar](255) NULL,
	[PreferredConceptName] [nvarchar](255) NULL,
	[PreferredAlternateCode] [nvarchar](255) NULL,
	[CodeSystemOID] [nvarchar](255) NULL,
	[CodeSystemName] [nvarchar](255) NULL,
	[CodeSystemCode] [nvarchar](255) NULL,
	[CodeSystemVersion] [nvarchar](255) NULL,
	[HL7Table0396Code] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FunctionStatus]    Script Date: 12-09-2020 08:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FunctionStatus](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Description] [varchar](250) NULL,
	[Code] [numeric](20, 0) NULL,
	[Date] [varchar](30) NULL,
	[Type] [varchar](50) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guarantor]    Script Date: 12-09-2020 08:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guarantor](
	[PatientID] [varchar](50) NULL,
	[GuarantorFname] [varchar](50) NULL,
	[GuarantorLname] [varchar](50) NULL,
	[GuarantorMname] [varchar](50) NULL,
	[GuarantorAddress] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurances]    Script Date: 12-09-2020 08:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurances](
	[PatientID] [varchar](50) NULL,
	[VisitID] [varchar](50) NULL,
	[InsuranceName] [varchar](50) NULL,
	[InsuranceTypePST] [varchar](50) NULL,
	[InsuranceAddress] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicationsAdministeredDuringVisit]    Script Date: 12-09-2020 08:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationsAdministeredDuringVisit](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Medication] [varchar](100) NULL,
	[Dose] [varchar](100) NULL,
	[Units] [varchar](100) NULL,
	[Frequency] [varchar](100) NULL,
	[Route] [varchar](100) NULL,
	[Date_Time] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[PatientID] [varchar](50) NULL,
	[VisitID] [varchar](50) NULL,
	[Requisition_ID] [varchar](50) NULL,
	[TestID] [varchar](50) NULL,
	[OrderName] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientDecisionAids]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDecisionAids](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Patient_Decision_Aid] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientDemographics]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDemographics](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Name] [varchar](22) NULL,
	[Address] [varchar](40) NULL,
	[PrimaryHome] [numeric](11, 0) NULL,
	[DOB] [date] NULL,
	[Sex] [varchar](1) NULL,
	[Race] [varchar](60) NULL,
	[Ethnicity] [varchar](60) NULL,
	[Language] [varchar](60) NULL,
	[Last_name] [varchar](50) NULL,
	[First_name] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientNames]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientNames](
	[Fname] [varchar](20) NULL,
	[Lname] [varchar](20) NULL,
	[Dob] [varchar](20) NULL,
	[Gender] [varchar](20) NULL,
	[Ssn] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanofCare]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanofCare](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Care_Plan_Entries] [varchar](5000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLLING_TABLE]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLLING_TABLE](
	[MESSAGE_TYPE] [nchar](10) NULL,
	[SEQUENCE_ID] [nchar](10) NULL,
	[POLLING_TRIGGER] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Problems]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problems](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Problem] [varchar](250) NULL,
	[Code] [numeric](25, 0) NULL,
	[Start_Date] [varchar](30) NULL,
	[Resolved_Date] [varchar](30) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procedures]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedures](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Procedures] [varchar](250) NULL,
	[Code] [numeric](10, 0) NULL,
	[Procedure_Type] [varchar](100) NULL,
	[Date] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderOrganization]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderOrganization](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Name] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[WorkPlace] [numeric](10, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Race_Code]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Race_Code](
	[ConceptCode] [nvarchar](255) NULL,
	[ConceptName] [nvarchar](255) NULL,
	[PreferredConceptName] [nvarchar](255) NULL,
	[PreferredAlternateCode] [nvarchar](255) NULL,
	[CodeSystemOID] [nvarchar](255) NULL,
	[CodeSystemName] [nvarchar](255) NULL,
	[CodeSystemCode] [nvarchar](255) NULL,
	[CodeSystemVersion] [nvarchar](255) NULL,
	[HL7Table0396Code] [nvarchar](255) NULL,
	[ValueSetCode] [nvarchar](255) NULL,
	[ValueSetVersion] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Test_Name] [varchar](100) NULL,
	[Code] [varchar](100) NULL,
	[Test_Result] [varchar](100) NULL,
	[Test_Units] [varchar](100) NULL,
	[Test_Ref_Range] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results1]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results1](
	[patientid] [varchar](100) NOT NULL,
	[visitid] [varchar](100) NULL,
	[Test_Name] [varchar](100) NULL,
	[Code] [varchar](100) NULL,
	[Test_Result] [varchar](100) NULL,
	[Test_Units] [varchar](100) NULL,
	[Test_Ref_Range] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteOfAdministration]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteOfAdministration](
	[NAME] [nvarchar](255) NULL,
	[DEFINITION] [nvarchar](255) NULL,
	[SHORT_NAME] [nvarchar](255) NULL,
	[FDA_CODE] [float] NULL,
	[NCI_CONCEPT_ID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialHistory]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialHistory](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[Smoking_Status] [varchar](100) NULL,
	[Code] [numeric](20, 0) NULL,
	[Start_Date] [varchar](30) NULL,
	[End_Date] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testrecords]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testrecords](
	[orderinfo] [varchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VitalSigns]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VitalSigns](
	[patientid] [numeric](8, 0) NOT NULL,
	[visitid] [numeric](10, 0) NULL,
	[VitalSign] [varchar](50) NULL,
	[Value] [numeric](10, 5) NULL,
	[Unit] [varchar](50) NULL,
	[Date_Time] [varchar](50) NULL,
	[Recent_Initial] [varchar](100) NULL,
	[LOINCCODE] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Allergies] ([patientid], [visitid], [Allergy], [Code], [Allergy_Type], [Reaction], [Status]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'PENICILLIN', CAST(70618 AS Numeric(10, 0)), N'Drug allergy', N'', N'Active')
INSERT [dbo].[Allergies] ([patientid], [visitid], [Allergy], [Code], [Allergy_Type], [Reaction], [Status]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'PENICILLIN', CAST(70618 AS Numeric(10, 0)), N'Drug allergy', N'', N'Active')
INSERT [dbo].[Allergies] ([patientid], [visitid], [Allergy], [Code], [Allergy_Type], [Reaction], [Status]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'PENICILLIN', CAST(70618 AS Numeric(10, 0)), N'Drug allergy', N'', N'Active')
INSERT [dbo].[CareTeam] ([patientid], [visitid], [Name], [Address], [Phone], [Role]) VALUES (CAST(2000 AS Numeric(8, 0)), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CareTeam] ([patientid], [visitid], [Name], [Address], [Phone], [Role]) VALUES (CAST(2000 AS Numeric(8, 0)), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CareTeam] ([patientid], [visitid], [Name], [Address], [Phone], [Role]) VALUES (CAST(3000 AS Numeric(8, 0)), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ChiefComplaintandReasonForVisit] ([patientid], [visitid], [Chief_Complaint], [Date_of_Onset]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'TESTING', N'')
INSERT [dbo].[ChiefComplaintandReasonForVisit] ([patientid], [visitid], [Chief_Complaint], [Date_of_Onset]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'TESTING', N'')
INSERT [dbo].[ChiefComplaintandReasonForVisit] ([patientid], [visitid], [Chief_Complaint], [Date_of_Onset]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'TESTING', N'')
INSERT [dbo].[Datetimelogic] ([messageDate]) VALUES (CAST(N'2019-07-09T09:20:23.000' AS DateTime))
INSERT [dbo].[Encounters] ([patientid], [visitid], [Encounter_Diagnosis], [Diagnosis_Code], [Start_Date]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Acute bronchitis', CAST(10509002 AS Numeric(10, 0)), N'11_12_2014')
INSERT [dbo].[Encounters] ([patientid], [visitid], [Encounter_Diagnosis], [Diagnosis_Code], [Start_Date]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'Acute bronchitis', CAST(10509002 AS Numeric(10, 0)), N'11_12_2014')
INSERT [dbo].[Encounters] ([patientid], [visitid], [Encounter_Diagnosis], [Diagnosis_Code], [Start_Date]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'Acute bronchitis', CAST(10509002 AS Numeric(10, 0)), N'11_12_2014')
INSERT [dbo].[Ethnicity_Code] ([ConceptCode], [ConceptName], [PreferredConceptName], [PreferredAlternateCode], [CodeSystemOID], [CodeSystemName], [CodeSystemCode], [CodeSystemVersion], [HL7Table0396Code]) VALUES (N'2138-6', N'Andalusian', N'Andalusian', N'', N'2.16.840.1.113883.6.238', N'Race & Ethnicity - CDC', N'PH_RaceAndEthnicity_CDC', N'1.1', N'CDCREC')
INSERT [dbo].[Ethnicity_Code] ([ConceptCode], [ConceptName], [PreferredConceptName], [PreferredAlternateCode], [CodeSystemOID], [CodeSystemName], [CodeSystemCode], [CodeSystemVersion], [HL7Table0396Code]) VALUES (N'2166-7', N'Argentinean', N'Argentinean', N'', N'2.16.840.1.113883.6.238', N'Race & Ethnicity - CDC', N'PH_RaceAndEthnicity_CDC', N'1.1', N'CDCREC')
INSERT [dbo].[Ethnicity_Code] ([ConceptCode], [ConceptName], [PreferredConceptName], [PreferredAlternateCode], [CodeSystemOID], [CodeSystemName], [CodeSystemCode], [CodeSystemVersion], [HL7Table0396Code]) VALUES (N'2139-4', N'Asturian', N'Asturian', N'', N'2.16.840.1.113883.6.238', N'Race & Ethnicity - CDC', N'PH_RaceAndEthnicity_CDC', N'1.1', N'CDCREC')
INSERT [dbo].[FunctionStatus] ([patientid], [visitid], [Description], [Code], [Date], [Type], [Status]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Age-related cognitive decline', CAST(102891000 AS Numeric(20, 0)), N'11_14_2013', N'Cognitive', N'Active')
INSERT [dbo].[FunctionStatus] ([patientid], [visitid], [Description], [Code], [Date], [Type], [Status]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Age-related cognitive decline', CAST(102892000 AS Numeric(20, 0)), N'11_14_2013', N'Cognitive', N'Active')
INSERT [dbo].[FunctionStatus] ([patientid], [visitid], [Description], [Code], [Date], [Type], [Status]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Age-related cognitive decline', CAST(102892000 AS Numeric(20, 0)), N'11_14_2013', N'Cognitive', N'Active')
INSERT [dbo].[Guarantor] ([PatientID], [GuarantorFname], [GuarantorLname], [GuarantorMname], [GuarantorAddress]) VALUES (N'1', N'TestGuarantor', N'TestGuarantor', N'T', N'Street1')
INSERT [dbo].[Guarantor] ([PatientID], [GuarantorFname], [GuarantorLname], [GuarantorMname], [GuarantorAddress]) VALUES (N'2000', N'TestGuarantor', N'TestGuarantor', N'T', N'Street1')
INSERT [dbo].[Guarantor] ([PatientID], [GuarantorFname], [GuarantorLname], [GuarantorMname], [GuarantorAddress]) VALUES (N'2000', N'TestGuarantor', N'TestGuarantor', N'T', N'Street1')
INSERT [dbo].[Insurances] ([PatientID], [VisitID], [InsuranceName], [InsuranceTypePST], [InsuranceAddress]) VALUES (N'1', N'1', N'BCBS', N'P', N'Test Street 1')
INSERT [dbo].[Insurances] ([PatientID], [VisitID], [InsuranceName], [InsuranceTypePST], [InsuranceAddress]) VALUES (N'1', N'1', N'Geisinger', N'S', N'Test street 1')
INSERT [dbo].[Insurances] ([PatientID], [VisitID], [InsuranceName], [InsuranceTypePST], [InsuranceAddress]) VALUES (N'1', N'1', N'Medicare', N'T', N'Test Street 2')
INSERT [dbo].[Orders] ([PatientID], [VisitID], [Requisition_ID], [TestID], [OrderName]) VALUES (N'1', N'1', N'123', N'95059', N'CBC')
INSERT [dbo].[Orders] ([PatientID], [VisitID], [Requisition_ID], [TestID], [OrderName]) VALUES (N'1', N'1', N'223', N'95051', N'TSH')
INSERT [dbo].[Orders] ([PatientID], [VisitID], [Requisition_ID], [TestID], [OrderName]) VALUES (N'1', N'1', N'323', N'95055', N'UrineCulture')
INSERT [dbo].[PatientDecisionAids] ([patientid], [visitid], [Patient_Decision_Aid]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Chronic Kidney Failure')
INSERT [dbo].[PatientDecisionAids] ([patientid], [visitid], [Patient_Decision_Aid]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'Chronic Kidney Failure')
INSERT [dbo].[PatientDecisionAids] ([patientid], [visitid], [Patient_Decision_Aid]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'Chronic Kidney Failure')
INSERT [dbo].[PatientDemographics] ([patientid], [visitid], [Name], [Address], [PrimaryHome], [DOB], [Sex], [Race], [Ethnicity], [Language], [Last_name], [First_name]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'BUSINESS OFFICE TEST', N'PO BOX 77411 SALEM, MO 65560', CAST(5737296626 AS Numeric(11, 0)), CAST(N'1940-02-14' AS Date), N'F', N'White', N'Not Hispanic or Latino', N'English', N'Test1', N'Patient1')
INSERT [dbo].[PatientDemographics] ([patientid], [visitid], [Name], [Address], [PrimaryHome], [DOB], [Sex], [Race], [Ethnicity], [Language], [Last_name], [First_name]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'BUSINESS OFFICE TEST', N'PO BOX 77411 SALEM, MO 65560', CAST(5737296626 AS Numeric(11, 0)), CAST(N'1940-02-14' AS Date), N'F', N'White', N'Not Hispanic or Latino', N'English', N'Test2', N'Patient2')
INSERT [dbo].[PatientDemographics] ([patientid], [visitid], [Name], [Address], [PrimaryHome], [DOB], [Sex], [Race], [Ethnicity], [Language], [Last_name], [First_name]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'BUSINESS OFFICE TEST', N'PO BOX 77411 SALEM, MO 65560', CAST(5737296626 AS Numeric(11, 0)), CAST(N'1940-02-14' AS Date), N'F', N'White', N'Not Hispanic or Latino', N'English', N'Test2', N'Patient2')
INSERT [dbo].[PatientNames] ([Fname], [Lname], [Dob], [Gender], [Ssn]) VALUES (N'BEN', N'RODRIZ', N'12/6/92', N'Male', N'4562')
INSERT [dbo].[PatientNames] ([Fname], [Lname], [Dob], [Gender], [Ssn]) VALUES (N'ALEX', N'RODRIZ', N'13/7/93', N'Male', N'4563')
INSERT [dbo].[PatientNames] ([Fname], [Lname], [Dob], [Gender], [Ssn]) VALUES (N'XAVIOR', N'RODRIZ', N'13/8/94', N'Male', N'4564')
INSERT [dbo].[PlanofCare] ([patientid], [visitid], [Care_Plan_Entries]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Problem: Congestive heart failure [SNOMED: 42343007]')
INSERT [dbo].[PlanofCare] ([patientid], [visitid], [Care_Plan_Entries]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Goal: Hypertension exercise education [SNOMED: 10189761000046105]')
INSERT [dbo].[PlanofCare] ([patientid], [visitid], [Care_Plan_Entries]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Instructions:')
GO
INSERT [dbo].[POLLING_TABLE] ([MESSAGE_TYPE], [SEQUENCE_ID], [POLLING_TRIGGER]) VALUES (N'ADT       ', N'1         ', N'1         ')
INSERT [dbo].[POLLING_TABLE] ([MESSAGE_TYPE], [SEQUENCE_ID], [POLLING_TRIGGER]) VALUES (N'ADT       ', N'6000      ', N'1         ')
INSERT [dbo].[POLLING_TABLE] ([MESSAGE_TYPE], [SEQUENCE_ID], [POLLING_TRIGGER]) VALUES (N'ADT       ', N'7000      ', N'1         ')
INSERT [dbo].[Problems] ([patientid], [visitid], [Problem], [Code], [Start_Date], [Resolved_Date], [Status]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Congestive heart , failure unspecified', CAST(42343007 AS Numeric(25, 0)), N'03_07_1929', NULL, N'Active')
INSERT [dbo].[Problems] ([patientid], [visitid], [Problem], [Code], [Start_Date], [Resolved_Date], [Status]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Stage 5 CKD', CAST(433146000 AS Numeric(25, 0)), NULL, NULL, N'Active')
INSERT [dbo].[Problems] ([patientid], [visitid], [Problem], [Code], [Start_Date], [Resolved_Date], [Status]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Old myocardial infarction', CAST(1755008 AS Numeric(25, 0)), NULL, NULL, N'Active')
INSERT [dbo].[ProviderOrganization] ([patientid], [visitid], [Name], [Address], [WorkPlace]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'SALEM MEMORIAL HOSPITAL', N'35629 HWY 72

SALEM, MO 655607217', CAST(5737296626 AS Numeric(10, 0)))
INSERT [dbo].[ProviderOrganization] ([patientid], [visitid], [Name], [Address], [WorkPlace]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'SALEM MEMORIAL HOSPITAL', N'35629 HWY 72

SALEM, MO 655607217', CAST(5737296626 AS Numeric(10, 0)))
INSERT [dbo].[ProviderOrganization] ([patientid], [visitid], [Name], [Address], [WorkPlace]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'SALEM MEMORIAL HOSPITAL', N'35629 HWY 72

SALEM, MO 655607217', CAST(5737296626 AS Numeric(10, 0)))
INSERT [dbo].[Race_Code] ([ConceptCode], [ConceptName], [PreferredConceptName], [PreferredAlternateCode], [CodeSystemOID], [CodeSystemName], [CodeSystemCode], [CodeSystemVersion], [HL7Table0396Code], [ValueSetCode], [ValueSetVersion]) VALUES (N'1006-6', N'Abenaki', N'Abenaki', N'', N'2.16.840.1.113883.6.238', N'Race & Ethnicity - CDC', N'PH_RaceAndEthnicity_CDC', N'1.1', N'CDCREC', N'PHVS_Race_CDC', N'1')
INSERT [dbo].[Race_Code] ([ConceptCode], [ConceptName], [PreferredConceptName], [PreferredAlternateCode], [CodeSystemOID], [CodeSystemName], [CodeSystemCode], [CodeSystemVersion], [HL7Table0396Code], [ValueSetCode], [ValueSetVersion]) VALUES (N'1579-2', N'Absentee Shawnee', N'Absentee Shawnee', N'', N'2.16.840.1.113883.6.238', N'Race & Ethnicity - CDC', N'PH_RaceAndEthnicity_CDC', N'1.1', N'CDCREC', N'PHVS_Race_CDC', N'1')
INSERT [dbo].[Race_Code] ([ConceptCode], [ConceptName], [PreferredConceptName], [PreferredAlternateCode], [CodeSystemOID], [CodeSystemName], [CodeSystemCode], [CodeSystemVersion], [HL7Table0396Code], [ValueSetCode], [ValueSetVersion]) VALUES (N'1490-2', N'Acoma', N'Acoma', N'', N'2.16.840.1.113883.6.238', N'Race & Ethnicity - CDC', N'PH_RaceAndEthnicity_CDC', N'1.1', N'CDCREC', N'PHVS_Race_CDC', N'1')
GO
INSERT [dbo].[Results1] ([patientid], [visitid], [Test_Name], [Code], [Test_Result], [Test_Units], [Test_Ref_Range]) VALUES (N'6000', N'6000', N'120297', N'LDL Chol. (Direct)', N'25', N'mg/dL', N'0-119')
INSERT [dbo].[Results1] ([patientid], [visitid], [Test_Name], [Code], [Test_Result], [Test_Units], [Test_Ref_Range]) VALUES (N'6000', N'6000', N'011826', N'Comment:', N'27', N'', N'')
INSERT [dbo].[Results1] ([patientid], [visitid], [Test_Name], [Code], [Test_Result], [Test_Units], [Test_Ref_Range]) VALUES (N'6000', N'6000', N'011824', N'Comment:', N'', N'', N'')
INSERT [dbo].[RouteOfAdministration] ([NAME], [DEFINITION], [SHORT_NAME], [FDA_CODE], [NCI_CONCEPT_ID]) VALUES (N'AURICULAR (OTIC)', N'Administration to or by way of the ear.', N'OTIC', 13, N'C38192')
INSERT [dbo].[RouteOfAdministration] ([NAME], [DEFINITION], [SHORT_NAME], [FDA_CODE], [NCI_CONCEPT_ID]) VALUES (N'BUCCAL', N'Administration directed toward the cheek, generally from within the mouth.', N'BUCCAL', 30, N'C38193')
INSERT [dbo].[RouteOfAdministration] ([NAME], [DEFINITION], [SHORT_NAME], [FDA_CODE], [NCI_CONCEPT_ID]) VALUES (N'CONJUNCTIVAL', N'Administration to the conjunctiva, the delicate membrane that lines the eyelids and covers the exposed surface of the eyeball.', N'CONJUNC', 68, N'C38194')
GO
INSERT [dbo].[SocialHistory] ([patientid], [visitid], [Smoking_Status], [Code], [Start_Date], [End_Date]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Never smoker', CAST(266919005 AS Numeric(20, 0)), N'', N'')
INSERT [dbo].[SocialHistory] ([patientid], [visitid], [Smoking_Status], [Code], [Start_Date], [End_Date]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'Never smoker', CAST(266919005 AS Numeric(20, 0)), N'', N'')
INSERT [dbo].[SocialHistory] ([patientid], [visitid], [Smoking_Status], [Code], [Start_Date], [End_Date]) VALUES (CAST(2000 AS Numeric(8, 0)), CAST(2000 AS Numeric(10, 0)), N'Never smoker', CAST(266919005 AS Numeric(20, 0)), N'', N'')
INSERT [dbo].[testrecords] ([orderinfo]) VALUES (N'test1')
INSERT [dbo].[testrecords] ([orderinfo]) VALUES (N'test2')
INSERT [dbo].[testrecords] ([orderinfo]) VALUES (N'test3')
INSERT [dbo].[VitalSigns] ([patientid], [visitid], [VitalSign], [Value], [Unit], [Date_Time], [Recent_Initial], [LOINCCODE]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Weight Measured', CAST(212.00000 AS Numeric(10, 5)), N'lbs', N'11-12-2014 14:14', N'Initial VS', N'3141-9')
INSERT [dbo].[VitalSigns] ([patientid], [visitid], [VitalSign], [Value], [Unit], [Date_Time], [Recent_Initial], [LOINCCODE]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'Height', CAST(70.00000 AS Numeric(10, 5)), N'in', N'01-07-2015 08:56', N'Most Recent VS', N'8306-3')
INSERT [dbo].[VitalSigns] ([patientid], [visitid], [VitalSign], [Value], [Unit], [Date_Time], [Recent_Initial], [LOINCCODE]) VALUES (CAST(1 AS Numeric(8, 0)), CAST(1 AS Numeric(10, 0)), N'BP Systolic', CAST(120.00000 AS Numeric(10, 5)), N'mmHg', N'01-07-2015 08:56', N'Initial VS', N'8480-6')
GO
/****** Object:  StoredProcedure [dbo].[Masterproc]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Masterproc]
As

EXEC [dbo].[patientextract]
EXEC [dbo].[vitalextract]

GO
/****** Object:  StoredProcedure [dbo].[patientextract]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[patientextract]
As

select * from PatientDemographics


GO
/****** Object:  StoredProcedure [dbo].[results_Import]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[results_Import] 
				@patientid nvarchar(30),
				@visitid nvarchar(30),
				@testname nvarchar(30),
				@code nvarchar(30),
				@testresult nvarchar(30),
				@restunits nvarchar(30),
				@restrefrange nvarchar(30)
As
	INSERT INTO Results1 (PatientID,visitid,Test_name,Code,Test_Result,Test_Units,Test_Ref_range)
	VALUES(@patientid, @visitid, @testname, @code, @testresult, @restunits, @restrefrange)
GO
/****** Object:  StoredProcedure [dbo].[vitalextract]    Script Date: 12-09-2020 08:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[vitalextract]
As

select * from VitalSigns

GO
